/* BODY */

:root {
    --stone-900: #1c1917;
    --gray-500: #6b7280;
    --gray-200: #e2e8f0;
    --neutral-50: #fafafa;
    --zinc-200: #e4e4e7;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-500: #f59e0b;
    --amber-800: #92400e;
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-500: #64748b;
    --slate-800: #1e293b;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--slate-50);
    color: var(--slate-800);

    font-family: 'Roboto', sans-serif;
}

.container {
    
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-color: var(--slate-50);
    min-height: 100vh;
}


/* HEADER */

header {
    padding: .5rem;

    background-color: var(--slate-800);
    color: var(--neutral-50);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

/* ASIDE AND MAIN */

.aside-and-main-container {
    display: flex;
    gap: .5rem;

    
}

/* ASIDE */

.aside__container {
    display: flex;
    gap: .3rem;

    background-color: var(--slate-500);
    min-height: 100vh;
    
    padding: .5rem;
}

.aside__always-on-display{
    padding: .5rem;
}

.always-on-display__symbol {
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 2rem;
    transition: 400ms;
}



.hide {
    display: none;
}

@keyframes pulsing {
    0% {scale: 1;}
    50% {scale: 1.1;}
    100% {scale: 1;}
}

.not-clicked {
    animation: pulsing;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    
}



/* ASIDE - FORM */

.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    background-color: var(--slate-800);
    padding: 1rem;
    border-radius: 25px;

    color: var(--zinc-200);

}

.fieldset__title {
    font-size: 1.7rem;
    float: left;
}

.p__container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.p__container--read {
    justify-content: flex-start;
    gap: .7rem;
}

.fieldset__button {
    border-radius: 25px;
    border: none;
    width: 60%;
    align-self: center;
    margin-top: 1.5rem;
    padding: .5rem;
    cursor: pointer;
}

/* MAIN */

main {
    flex-grow: 1;
    padding: .5rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .5rem;
}

.library__book {
    border: solid var(--slate-500) 1px;
    border-radius: 25px;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    gap: .3rem;
    
    text-align: right;
    background-color: var(--slate-300);
    box-shadow: 5px 5px 1px var(--slate-800);
    font-size: 1.05rem;
}


.book__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.book__read {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.read__toggle {
    max-width: 50px;
}

.book__remove-button{
    align-self: flex-end;
    font-weight: 900;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    background: none;
    color: var(--slate-800);
    font-size: 1.3rem;
    cursor: pointer;
}